themes {
    carbonfox {
        text_unselected {
            base 242 244 248
            background 22 22 22
            emphasis_0 255 126 182
            emphasis_1 51 177 255
            emphasis_2 37 190 106
            emphasis_3 190 149 255
        }
        text_selected {
            base 242 244 248
            background 42 42 42
            emphasis_0 255 126 182
            emphasis_1 51 177 255
            emphasis_2 37 190 106
            emphasis_3 190 149 255
        }
        ribbon_selected {
            base 22 22 22
            background 120 169 255
            emphasis_0 238 83 150
            emphasis_1 255 126 182
            emphasis_2 190 149 255
            emphasis_3 51 177 255
        }
        ribbon_unselected {
            base 22 22 22
            background 223 223 224
            emphasis_0 238 83 150
            emphasis_1 242 244 248
            emphasis_2 51 177 255
            emphasis_3 190 149 255
        }
        table_title {
            base 37 190 106
            background 0
            emphasis_0 8 189 186
            emphasis_1 51 177 255
            emphasis_2 37 190 106
            emphasis_3 190 149 255
        }
        table_cell_selected {
            base 242 244 248
            background 42 42 42
            emphasis_0 255 126 182
            emphasis_1 51 177 255
            emphasis_2 37 190 106
            emphasis_3 190 149 255
        }
        table_cell_unselected {
            base 242 244 248
            background 22 22 22
            emphasis_0 255 126 182
            emphasis_1 51 177 255
            emphasis_2 37 190 106
            emphasis_3 190 149 255
        }
        list_selected {
            base 242 244 248
            background 42 42 42
            emphasis_0 255 126 182
            emphasis_1 51 177 255
            emphasis_2 37 190 106
            emphasis_3 190 149 255
        }
        list_unselected {
            base 242 244 248
            background 22 22 22
            emphasis_0 255 126 182
            emphasis_1 51 177 255
            emphasis_2 37 190 106
            emphasis_3 190 149 255
        }
        frame_selected {
            base 120 169 255
            background 0
            emphasis_0 8 189 186
            emphasis_1 51 177 255
            emphasis_2 190 149 255
            emphasis_3 0
        }
        frame_highlight {
            base 255 126 182
            background 0
            emphasis_0 190 149 255
            emphasis_1 255 126 182
            emphasis_2 255 126 182
            emphasis_3 255 126 182
        }
        exit_code_success {
            base 37 190 106
            background 0
            emphasis_0 51 177 255
            emphasis_1 22 22 22
            emphasis_2 190 149 255
            emphasis_3 120 169 255
        }
        exit_code_error {
            base 238 83 150
            background 0
            emphasis_0 255 126 182
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 190 149 255
            player_2 120 169 255
            player_3 8 189 186
            player_4 255 126 182
            player_5 51 177 255
            player_6 37 190 106
            player_7 238 83 150
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
